@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

//Color Variables
$white: #fff; 
$black: #111;
$main-green:rgba(39,144,105,0.95); //Plum
$hover-light: yellow; //Maroon
$colorlogo:yellow;
  
// Base Styles
body {
  background-color: $white;
  color: $black;
  font-family: 'Oswald', sans-serif;
  line-height: 2em;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

h1 {
  font-size: 3em;
  padding: 3em 0 1em 0;
}

.navBar {
  background-color: $main-green;
  position: fixed;
  min-width: 100%;
}

.logo {
  // background-color: $color1;
  // border-radius: 50px;
  display: inline-block;
  height: 45px;
  margin-top: 0.5em ;
  // width: 45px;
  font-size: 2em;
  a {
     padding:150px 0;
      color: $colorlogo;
  }
}

// Content Wrapper
.wrapper {


  margin: 0 ;
  
  padding: 0;


}

// Full Navigation, including mobile menu
nav {
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 70%;
    margin:0;
    
    a {
      color: $white;
      text-decoration: none;
      transition: all 0.6s ease;
      font-size: 18px;
       padding:20px 15px;

      &:hover {
        
        color: $hover-light;
        
      }
    }
  }
  
  li  {
    display: inline-block;
  }
  
  #menu-toggle {display: none;}
  
  .label-toggle {display: none;}
  
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    .logo {
      font-size: 1.5em;
    }
    nav {
      ul {
        a {
          color: $main-green;
           padding:1.2em 8em;
           
        }
      }
    }
    ul {
      background-color: $white;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    
    li {
      border-bottom: 2px solid $main-green;
      color: $main-green;
      display: block;
      font-size: 1.5em;
      padding: 1em 0;
    }
  
    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }
    
    .label-toggle {
      background: linear-gradient(to bottom, $white 0%, $white 20%, transparent 20%, transparent 40%, $white 40%, $white 60%, transparent 60%, transparent 80%, $white 80%, $white 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
    
    .wrapper {display: block;}
  }
}

// hero 


  
 
  
.hero-text {
   background-size: cover;
  background-position: center;
  width: 100wh;
  height: 100vh;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image:url('../assets/img/2.jpg');
  margin: auto;

   & h2, h3 {
    color: $white;
    line-height: 1;
  } 
  & h2 {
    color:$white;
    font-size: 2.7em;
    text-transform: uppercase;
  
    margin-bottom: 40px ;
    text-align: center;
   } 
  & h3 {
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: normal;
  }
}
.button {
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border: 1px solid white;
  text-decoration: none ;
  margin-bottom: 70px;
   background-color:rgba(50,50,50,0.3);
   transition: all 0.3s ease;
  &:hover {
    color:$hover-light;
    background-color:rgba(250,250,250,0.3);
  }
 }
 #o_meni {
  margin:60px 0;
 }
  img {
    z-index: 0;
  }

  #o_meni {
  .o_meni{
    padding-bottom: 30px;
  }
  h3, h4{
    text-align: center;
    font-family: "Ubuntu Mono",sans-serif;
  }
  h4 {
    font-size: 2em;
    background-color:rgba(39,144,105,0.3);
    line-height: 2em;
  }
  p {
    font-size: 1.5em;
    font-family:'Roboto Mono', sans-serif;
  }
}
@media only screen and  (min-width: 767px) 
  and (min-height: 420px) {
  #o_meni .text{
    padding:0 60px;

  }

}
@media only screen and (max-width: 1200px) {
  #o_meni {
  .o_meni{
    padding-bottom: 20px;
    }
  h3, h4{
    text-align: center;
    font-family: "Ubuntu Mono",sans-serif;
    }
  h4 {
    font-size: 1.5em;
    background-color:rgba(39,144,105,0.3);
    line-height: 1.5em;
  }
  p {
    font-size: 1.2em;
    font-family:'Roboto Mono', sans-serif;
  }
}
}
