body a {
  font-family:"Josefin Sans",sans-serif;
  font-size:18px;
  /*line-height:1.42857143;*/
  /*color:#333;*/
  /*background-color:#fff;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Roboto Mono";
}

body p {
  font-family:"Roboto Mono",sans-serif;
  font-size:18px;
}

@media (max-width: 991px) {
  body p {
    font-family:"Roboto Mono",sans-serif;
    font-size:15px;
  }
}

p .hero-button {
  background:rgba(39,155,104,1);
  border-radius:0;
  border:none;
  color:white;
  margin-top:10px;
}

.jumbotron {
  padding-top:60px;
  padding-bottom:30px;
  margin-bottom:20px;
  color:inherit;
  background-color:#eee;
}

#o_meni {
  margin:60px 0;
}

.o_meni_slika {
  margin-bottom:40px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  /*display:block;*/
  /*max-width:100%;*/
  /*height:auto;*/
  border:2px solid rgb(39,155,104);
  max-height:250px;
  margin:0 auto;
}

.carousel-caption {
  position:absolute;
  right:15%;
  bottom:0px;
  left:15%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-indicators {
  position:absolute;
  bottom:0px;
  left:50%;
  z-index:15;
  width:60%;
  padding-left:0;
  margin-left:-30%;
  text-align:center;
  list-style:none;
}

